body{
    margin: 0;
}
h3 ,h4 ,p{margin: 0px;}

.wrapper {
  font-family: "Inter", sans-serif;
   font-family: "Noto Sans Warang Citi", sans-serif; 
  width: 100%;
  
}

.container {
  padding-left: 312px;
  padding-right: 312px;
}  
/* HEADER */
.header {
  display: flex;
  width: 100%;
}

.header-item {
  padding: 16px 20px;
  font-size: 13.83px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.header-item:first-of-type {
  background-color: #323232;
  flex: 1 1 88.8%;
  text-align: end;
}

.header-item:last-of-type {
  background-color: #FF3C00;
  flex: 1 1 11.2%;
  cursor: pointer;
}

/* MAIN */
  
.main {
  background-color: gray;
  background-image: url(./Imj/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 210px;
  padding-bottom: 210px;
}
 
.main-title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 900; 
  line-height: 80px;
  font-size: 54px;
  color: #212529;
} 
.main-text {
  font-family: "Noto Sans Warang Citi", sans-serif;
  width: 69%;
  font-weight: 100;
  font-size: 14px;
  color: #212529;
}  
.main-text-container {
  padding-top: 36.18px;
  background-image: url(./Imj/logo.png);
  background-position: center right;
  background-repeat: no-repeat;

  background-size: contain;
} 

.main-text:first-of-type {
  margin-top: 0;
}

.main-text:last-of-type {
  margin-bottom: 52px;
}

.main-button {
  background-color: #323232;
  color: #fff;
  padding: 22px 36px;
  text-transform: uppercase;
  cursor: pointer;
}

.banner-main {
  height: 326px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} 

/* VIDEO */
.video_section{  
height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #323232;
    
}
.video{
    
    width: 100%;
    max-width: 1280px;
    aspect-ratio: 16 / 9;
    border: none;
}


.video_text{
    display: flex;
    width: 100%;
    background-color: #323232;
    color:  #FFFFFF;
}
.video_text_container{
   width: 35%;
}
  

.video_text_title{
  font-size: 30px;
  padding-bottom: 40px;

}

.video_text_name{
  font-size: 25px;
  padding-bottom: 53px;

}
  .video_text_paragraf{
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 261px;
  }
  .text_box{
    margin-top: 1%;
    margin-left: 12.5%;
    width: 20%;
    height: 100%;
    background-color: #262626;
    border-radius: 12px;
    line-height: 1.5;
  }
  
.text_box_addres{
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 37px;
  font-weight: 500;
  font-size: 18.28px;

}
.text_box_button{
  width: 143px;
  height: 52.40px;
  border: 0px;
  background-color: #FFFFFF;
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 50px;
}

   
   /* Partners*/
   .Partners{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 12px solid #EAEAEA;
    gap: 20px;
   
   }

   .Partners_title{
    margin-top: 160px;
font-size: 67.68px;
font-weight: 900;
   }
  
  .Partners_logo{
    margin-top: 68px;
    width: 100%;
  max-width: 420px;
  height: auto;
  margin-bottom: 114px;
  

  }
 .partner_logs{
  display: flex;
  flex-wrap: nowrap;
gap: 92px;
 }

 .partner_logs:last-child{
  margin-bottom: 176px;
 }

 .Pointer{
  width: 100%;
  
  display: flex;
    align-items: center;
    flex-direction: column;

border-bottom: 2px solid #EAEAEA;
 }