body{
    margin: 0;
}
h3 ,h4,h5,p{margin: 0px;}

.wrapper {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans Warang Citi", sans-serif;
  width: 100%;
}

.container {
  padding-left: 312px;
  padding-right: 312px;
}


@media (max-width: 1024px) {
  .container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

@media (max-width: 390px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* HEADER */
.header {
  display: flex;
  width: 100%;
}

.header-item {
  padding: 16px 20px;
  font-size: 13.83px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.header-item:first-of-type {
  background-color: #323232;
  flex: 1 1 88.8%;
  text-align: end;
}

.header-item:last-of-type {
  background-color: #FF3C00;
  flex: 1 1 11.2%;
  cursor: pointer;
}

/* MAIN */
  
.main {
  background-color: gray;
  background-image: url(./Imj/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 210px;
  padding-bottom: 210px;
}
 
.main-title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 900; 
  line-height: 80px;
  font-size: 54px;
  color: #212529;
} 
.main-text {
  font-family: "Noto Sans Warang Citi", sans-serif;
  width: 69%;
  font-weight: 100;
  font-size: 14px;
  color: #212529;
}  
.main-text-container {
  padding-top: 36.18px;
  background-image: url(./Imj/logo.png);
  background-position: center right;
  background-repeat: no-repeat;

  background-size: contain;
} 

.main-text:first-of-type {
  margin-top: 0;
}

.main-text:last-of-type {
  margin-bottom: 52px;
}

.main-button {
  background-color: #323232;
  color: #fff;
  padding: 22px 36px;
  text-transform: uppercase;
  cursor: pointer;
}

.banner-main {
  height: 326px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} 
/* Banner-main */

.banner-main {
  height: 326px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 47px 80px;
  background-image: url(./Imj/cta-purple-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}

.banner-content h2 {
  margin-top: 0;
}

.banner-content > * {
  flex: 1 1 50%;
}

.banner-content .main-button {
  width: 60%;
}

.banner-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-title-container h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 47px;
  margin-bottom: 0;
}


.banner-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-button-container button {
  font-size: 22.5px;
  text-transform: uppercase;
  max-width: 265px;
  font-weight: 900;
}

@media (max-width: 1440px) {
  .banner-title-container h2 {
    font-size: 27px;
  }

  .banner-button-container button {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .banner-content {
    padding: 24px 40px;
  }
  .banner-title-container h2 {
    font-size: 25px;
  }
  .banner-button-container button {
    font-size: 15px;
  }
}


@media (max-width: 768px) {
  .banner-button-container button {
    padding: 18px 28px;
    font-size: 12px;
  }  
}

.banner-main-title {
  color: #212529;
  text-transform: uppercase;
  font-size: 58px;
  margin-top: 0;
  margin-bottom: 0;
}


/* GALERY CONTAINER */
.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #EAEAEA;
  gap: 16px;
  padding-top: 80px;
  padding-bottom: 179px;
}



@media (max-width: 1440px) {
  .galery {
    grid-template-columns: repeat(2, 1fr);
  }

  .column {
    gap: 48px;
  }
}


.column:nth-child(2) {
  padding-top: 155px;
}

.column:nth-child(3) {
  padding-top: 230px;
}

@media (max-width: 1440px) {
  .column:nth-child(3) {
    padding-top: 0;
  }
}

@media (max-width: 1024px) {
  .image-container {
    transform: scale(0.85);
  }
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#children-title {
  text-align: center;
  font-weight: 900;
  font-size: 31px;
  line-height: 32px;
  text-transform: uppercase;
}

.children-text {
  font-family: "Noto Sans Warang Citi", sans-serif;
  color: #212529;
  text-align: center;
  font-weight: 500;
  font-size: 21.75px;
  line-height: 31.2px;
}

#children-text {
  color: #FF3C00;
}

#children-link {
  display: block;
  text-align: center;
  font-family: "Noto Sans Warang Citi", sans-serif;
  font-weight: 800;
  font-size: 14.41px; 
  line-height: 22.5px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #212529;
}
  /* ATTENG  HOTSAUSE */
  .attend_Hotsauce{
  padding-top: 160px;
 background-color: #EAEAEA;
 

  }
.attend_Hotsauce_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.attend_Hotsauce_title_text{
  font-weight: 900;
  font-size: 30px;
  line-height: 60px;
}
/* TIE */
.tie{
  background-color:#323232 ;
  
}
.tie_box{
  display: flex;
  color: #fff;
}
.tie_box_text{
  width: 100%;
  margin-top: 277.7px;
  margin-right: 90px;
 
  padding-right: 40px;
}
.tie_box_text_second{
  
  width: 100%;
  margin-top: 155px;
  margin-left: 40px;
  padding-left: 40px;
  
}
.tie_title_first{
  font-size: 58.01px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 37px;
}
.tie_title_second{
  font-size: 56.37px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 37px;
}
.tie_paragraf{
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 26px;
}


.tie_img{
  width: 100%;
  margin-top: 90px;
  margin-bottom: 176px;
}
.tie_img_first{
  margin-top: 160px;
  margin-bottom: 40px;
}
/* VIDEO */
.video_section{  
height: 955px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #323232;
    
}
.video {
  max-width: 1272px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}





.video_text{
    display: flex;
    width: 100%;
    background-color: #323232;
    color:  #FFFFFF;
}
.video_text_container{
   width: 35%;
}
  

.video_text_title{
  font-size: 30px;
  padding-bottom: 40px;

}

.video_text_name{
  font-size: 25px;
  padding-bottom: 53px;

}
  .video_text_paragraf{
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 261px;
  }
  .text_box{
    margin-top: 1%;
    margin-left: 12.5%;
    width: 20%;
    height: 100%;
    background-color: #262626;
    border-radius: 12px;
    line-height: 1.5;
  }
  
.text_box_addres{
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 37px;
  font-weight: 500;
  font-size: 18.28px;

}
.text_box_button{
  width: 143px;
  height: 52.40px;
  border: 0px;
  background-color: #FFFFFF;
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

   
   /* Partners*/
   .Partners{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    gap: 20px;
   
   }

   .Partners_title{
    margin-top: 160px;
font-size: 67.68px;
font-weight: 900;
   }
  
  .Partners_logo{
    margin-top: 68px;
    width: 100%;
  max-width: 420px;
  height: auto;
  margin-bottom: 114px;
  

  }
 .partner_logs{
  display: flex;
  flex-wrap: nowrap;
gap: 92px;
 }

 .partner_logs:last-child{
  margin-bottom: 176px;
 }

 .Pointer{
  width: 100%;
  display: flex;
    align-items: center;
    flex-direction: column;
border-bottom: 2px solid #EAEAEA;
 }
 

 /* Survey*/
 .survey {
  background-color: #EAEAEA;
  padding-bottom: 170px;
  
 }
 .survey_title{
  
  display: flex;
  justify-content: center;
  padding-top: 160px;
  font-weight: 900;
  font-size: 48.24px;
  line-height: 50px;
  margin-bottom: 56px;
  
 }
 .survey_box{
  background-color:#FFFFFF ;
  color: #212529;
  border-radius: 16px;
  padding-left: 50px;
 
 }
 .survey_who{
  font-weight: 700;
  font-size: 27.45px;
  line-height: 34.56px;
  padding-top: 52px;
  margin-bottom: 28.55px;
 }
.survey_text{
  font-weight: 500;
font-size: 18.69px;
line-height: 31.2px;
padding-right: 135.71px;
padding-bottom: 55.19px;
}
.survey_menu{
  display: flex;
 
  justify-content: space-between;
}
.survey_button{
  padding-top: 47px;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.survey_img{
  height: 40px;
 }
 .survey_box.active .survey_img {
  transform: rotate(180deg);
}
.survey_punkt{
  justify-content: space-between;
  display: flex;
  background-color:#FFFFFF66 ;
  border-radius: 16px;
  margin-top: 10px;
}

.survey_punkt_text{
  
  font-weight: 700;
  font-size: 27.22px;
  line-height: 34.56px;
  margin-left: 50px;
  margin-top: 52px;
  margin-bottom: 52px;
}
.survey_button{
  padding-top: 47px;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.survey_punkt.active .survey_img {
  transform: rotate(180deg);
}
 /* Footer*/
 .footer{
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  background-color: #323232;
 
  
 }
 .footer_logo{
  margin-top: 96px;
 }
 .test{
  display: flex;
  color: #fff;
  list-style: none;
  justify-content: flex-end;
  font-size: 16,13px;
  font-weight: 500;
  gap: 4%;
  margin-bottom: 7%;
  
 
 }
 .test a {
  color: inherit; 
 
  
  
}
.footer_logo{
  flex: 1 1 50%;
  margin-top: 7.4%;
}
.footer_nav{
 
  flex: 1 1 50%;
  margin-top: 9.2%;
}
.footer_button_container {
  display: flex;
  justify-content: flex-end; 
  
  margin-bottom: 9.7%;
}
.footer_button{
  font-size: 19.66px;
  font-weight: 800;
  padding: 20px 36px 20px 36px;
 
}

